/* Imposta i margini e il padding a zero per tutti gli elementi, per una base consistente */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Imposta il corpo della pagina con una larghezza e altezza del 100%, un font di base, e centra il contenuto */
body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

/* Contenitore principale centrato */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Stile per il titolo */
.title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Stile per la textarea */
.text-input {
    width: 800px;
    height: 200px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none; /* Disabilita il ridimensionamento */
    outline: none; /* Rimuove il contorno predefinito */
}

/* Stile per il pulsante */
.button {
    width: 120px;
    padding: 10px 20px;
    margin: 10px 20px;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(45deg, #007BFF, #0056b3);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.4);
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

/* Cambia il colore di sfondo del pulsante al passaggio del mouse e aggiunge una leggera traslazione */
.button:hover {
    background: linear-gradient(45deg, #0056b3, #007BFF);
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.6);
    transform: translateY(-2px);
}

/* Effetto attivo al clic */
.button:active {
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.4);
}
